

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scholar Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Enter the name of the author to get the details</h2>
					
					
  <form role="form" action="{{ url_for('query') }}" method="post">
		{{ form.hidden_tag() }}
    <div class="form-group">
      <label for="text">Name:</label>
      <input type="text" class="form-control" placeholder="Enter name" name="author_name">
    </div>
    <div class="radio" style="display:none">
      <label><input type="radio" name="source" value="scholar" checked>Google Scholar</label>
    </div>
    <div class="radio" style="display:none">
      <label><input type="radio" name="source" value="pubmed">Pubmed</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% if form.errors %}
    {{ form.errors }}
{% endif %}

</body>
</html>




