<!DOCTYPE html>
<html lang="en">
<head>
<style>
.vcard_content {
    margin: 2px;
    font-size: small;
}


</style>
  <title>Scholar Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
</head>
<body>

<div class="container">
  <h2 style="margin-top:20px">20 years from now {{author_name}} will be similar to below famous persons</h2>



<div>
  <ul>
  {% for neighbour in neighbours %}
    <li style="list-style-type: none;
    margin-top: 10px;">
    <table>
    <tr>
    <td>
    <div style="width:150px">
    <div style="display: block">
    <img src="https://scholar.google.com/citations?view_op=medium_photo&user={{neighbour[1]}}&citpid=1" style="width: 100px;height: 150px;"/>
    </div>
    </div>
    </td>
    <td>
        <h5>{{neighbour[3]}}</h5>
<a href="https://scholar.google.com/citations?user={{neighbour[1]}}&hl=en&oi=ao">Go to Scholar Profile</a>
<!--<form action="https://scholar.google.com/citations?user={{neighbour[1]}}" method="get">
    <input type="submit" value="Go to Scholar Profile" />
<input type="hidden" name="hl" value="en" />
    <input type="hidden" name="oi" value="ao" />
</form>-->

      <p class="vcard_content">Cited by {{neighbour[4]}}</p>
      <p class="vcard_content">{{neighbour[5]}}</p>
      <p class="vcard_content">Mean citation count {{neighbour[6]}}</p>
      <p class="vcard_content">Approx number of publications {{neighbour[8]}}</p>
      <p class="vcard_content">{{neighbour[7]}}</p>

    </td>
    </tr>
    </table>
    
      
  
    </li>
          {% endfor %}  

    
  </ul>
</div>


</div>

</body>
</html>




