

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scholar Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
  <script>
	$(document).ready(function(){
		Chart.defaults.global.animationSteps = 10;
		
		var lineData = {
		  labels: {{years_list}},
		  datasets: [{
		    fillColor: 'rgba(0,0,0,0)',
		    strokeColor: 'rgba(220,180,0,1)',
		    pointColor: 'rgba(220,180,0,1)',
		    data: {{ original_data }}
		  }]
		}
		var ctx = document.getElementById('canvas').getContext('2d');
		ctx.canvas.width  = 500;
		ctx.canvas.height = 200;
		raw_data = {{ original_data }}
		var no_of_datapoints=raw_data.length;
		var lineDemo = new Chart(ctx).Line(lineData, {
		  responsive: true,
		  pointDotRadius: 10,
		  bezierCurve: false,
		  scaleShowVerticalLines: false,
		  scaleGridLineColor: 'black'
		});
		// var vals_new_list = {{new_vals}}
		// var years_new_list = {{new_years}}
		// for(i=0;i<vals_new_list.length;i++){
		// 	lineDemo.addData([vals_new_list[i]],years_new_list[i]);
		// 	lineDemo.datasets[0].points[no_of_datapoints+i].fillColor ="red";
		// }
		// lineDemo.update();
	}
	)
	</script>
</head>
<body>

<div class="container">
  <h1>{{paper_name}}</h1>
  <h2>Citations timeline  123</h2>
  <canvas id="canvas"></canvas>

</div>

</body>
</html>




