

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scholar Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
	<script>
	$(document).ready(function(){
		Chart.defaults.global.animationSteps = 10;
		
		var lineData = {
		  labels: {{years_list}},
		  datasets: [{
		    fillColor: 'rgba(0,0,0,0)',
		    strokeColor: 'rgba(220,180,0,1)',
		    pointColor: 'rgba(220,180,0,1)',
		    data: {{ original_data }}
		  }]
		}
		var ctx = document.getElementById('canvas').getContext('2d');
		ctx.canvas.width  = 500;
		ctx.canvas.height = 200;
		orig_data = {{ original_data }}
		var no_of_datapoints = orig_data.length;
		var lineDemo = new Chart(ctx).Line(lineData, {
		  responsive: true,
		  pointDotRadius: 10,
		  bezierCurve: false,
		  scaleShowVerticalLines: false,
		  scaleGridLineColor: 'black'
		});
		var vals_new_list = {{new_vals}}
		var years_new_list = {{new_years}}
		for(i=0;i<vals_new_list.length;i++){
			lineDemo.addData([vals_new_list[i]],years_new_list[i]);
			lineDemo.datasets[0].points[no_of_datapoints+i].fillColor ="red";
		}
		lineDemo.update();
	}
	)
	</script>
</head>
<body>

<div class="container">

<table style="width:100%;margin-top: 20px">
<tr>
<td width="10%">
    <div style="width:150px">
    <div style="display: block">
    <img src="https://scholar.google.com/citations?view_op=medium_photo&user={{author_id}}&citpid=1" style="width: 100px;height: 150px;"/>
    </div>
    </div></td>
<td width="60%">
<h1>{{author_name}}</h1>
<h4>{{tags}}</h4>
</td>
<td width="30%">
<p>
  <form action="{{url_for('k_nearest')}}">
        <input type="submit" value="Get most similar authors" />
	</form>
  </p>
</td>
</tr>
</table>

	<h2>Timeline of number of publications</h2>
	<canvas id="canvas"></canvas>
	<p></p>
	<h2>List of publications</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name of publication</th>
        <th>Number of citations</th>
      </tr>
    </thead>
    <tbody>
			{% for paper in papers %}
      <tr>
        <td>{{ paper[0] }}</td>
        <td>{{ paper[1] }}</td>
<!--        <td>
				  <form role="form" action="{{ url_for('get_citations') }}" method="post">
				      <input type="text" name="paper_link" style='display:none;' value={{paper[3]}}>
							<button type="submit" >Details</button>
				  </form> </td>
    -->  </tr>
			{% endfor %}
      
    </tbody>
  </table>
</div>

</body>
</html>




